@import url('http://fonts.cdnfonts.com/css/fontin');
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Fontin', sans-serif;
    font-family: 'Fontin SmallCaps', sans-serif;
}
.App{
    width: 100%;
    height: 100vh;
    background: #111;
    color: #fff;
}